extends layout

block content
  h1= title
  p Welcome to #{title} lab10
  input(type="button",class="btn btn-warning btn-sm" value="Press Me" onclick ="update()")
  <br>
  div(id = "target") Display

  script.
      var client_count=0
      function update(){
        client_count += 1;
        document.getElementById('target').innerHTML = "Value now : " + client_count
      };